# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle/4.1/taskHistory/taskHistory.lock
.idea/workspace.xml
app/app.iml
build/android-profile/profile-2018-03-12-17-47-12-186.json
build/android-profile/profile-2018-03-13-11-22-56-389.json
build/android-profile/profile-2018-03-12-17-47-12-186.rawproto
build/android-profile/profile-2018-03-13-11-22-56-389.rawproto
build/android-profile/profile-2018-03-13-11-23-04-879.json
build/android-profile/profile-2018-03-14-15-53-08-307.json
build/android-profile/profile-2018-03-13-11-23-04-879.rawproto
build/android-profile/profile-2018-03-14-15-53-08-307.rawproto
build/android-profile/profile-2018-03-14-13-53-43-476.json
build/android-profile/profile-2018-03-14-15-55-30-917.json
build/android-profile/profile-2018-03-14-15-55-30-917.rawproto
build/android-profile/profile-2018-03-14-13-53-43-476.rawproto
build/android-profile/profile-2018-03-14-13-53-51-620.json
build/android-profile/profile-2018-03-14-13-53-51-620.rawproto
build/android-profile/profile-2018-03-14-15-49-15-462.json
build/android-profile/profile-2018-03-14-15-49-15-462.rawproto
.gradle/4.1/taskHistory/taskHistory.bin
build/android-profile/profile-2018-03-14-16-55-05-504.json
build/android-profile/profile-2018-03-14-16-55-05-504.rawproto
build/android-profile/profile-2018-03-14-16-57-47-846.json
build/android-profile/profile-2018-03-14-16-57-47-846.rawproto
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/taskHistory/fileSnapshots.bin
build/android-profile/profile-2018-03-15-10-27-20-358.json
build/android-profile/profile-2018-03-15-10-27-20-358.rawproto
