# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle/4.1/taskHistory/taskHistory.lock
.idea/workspace.xml
app/app.iml
build/android-profile/profile-2018-03-12-17-47-12-186.json
build/android-profile/profile-2018-03-13-11-22-56-389.json
build/android-profile/profile-2018-03-12-17-47-12-186.rawproto
build/android-profile/profile-2018-03-13-11-22-56-389.rawproto
build/android-profile/profile-2018-03-13-11-23-04-879.json
build/android-profile/profile-2018-03-14-15-53-08-307.json
build/android-profile/profile-2018-03-13-11-23-04-879.rawproto
build/android-profile/profile-2018-03-14-15-53-08-307.rawproto
build/android-profile/profile-2018-03-14-13-53-43-476.json
build/android-profile/profile-2018-03-14-15-55-30-917.json
build/android-profile/profile-2018-03-14-15-55-30-917.rawproto
build/android-profile/profile-2018-03-14-13-53-43-476.rawproto
build/android-profile/profile-2018-03-14-13-53-51-620.json
build/android-profile/profile-2018-03-14-13-53-51-620.rawproto
build/android-profile/profile-2018-03-14-15-49-15-462.json
build/android-profile/profile-2018-03-14-15-49-15-462.rawproto
.gradle/4.1/taskHistory/taskHistory.bin
build/android-profile/profile-2018-03-14-16-55-05-504.json
build/android-profile/profile-2018-03-14-16-55-05-504.rawproto
build/android-profile/profile-2018-03-14-16-57-47-846.json
build/android-profile/profile-2018-03-14-16-57-47-846.rawproto
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/taskHistory/fileSnapshots.bin
build/android-profile/profile-2018-03-15-10-27-20-358.json
build/android-profile/profile-2018-03-15-10-27-20-358.rawproto
.gradle/4.1/javaCompile/taskHistory.bin
build/android-profile/profile-2018-03-15-10-45-43-610.json
build/android-profile/profile-2018-03-15-10-45-43-610.rawproto
build/android-profile/profile-2018-03-19-14-22-38-153.json
build/android-profile/profile-2018-03-19-14-22-38-153.rawproto
.gradle/4.4/fileChanges/last-build.bin
.gradle/4.4/fileContent/fileContent.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/jarAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/javaCompile/taskJars.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/libraries/io_reactivex_rxjava2_rxjava_2_1_12_jar.xml
.idea/libraries/org_reactivestreams_reactive_streams_1_0_2_jar.xml
.gradle/buildOutputCleanup/cache.properties
.idea/gradle.xml
.idea/libraries/android_arch_core_runtime_1_1_0.xml
.idea/libraries/android_arch_lifecycle_livedata_core_1_1_0.xml
.idea/libraries/android_arch_lifecycle_runtime_1_1_0.xml
.idea/libraries/android_arch_lifecycle_viewmodel_1_1_0.xml
.idea/libraries/com_android_support_animated_vector_drawable_27_1_0.xml
.idea/libraries/com_android_support_appcompat_v7_27_1_0.xml
.idea/libraries/com_android_support_cardview_v7_27_1_0.xml
.idea/libraries/com_android_support_design_27_1_0.xml
.idea/libraries/com_android_support_recyclerview_v7_27_1_0.xml
.idea/libraries/com_android_support_support_compat_27_1_0.xml
.idea/libraries/com_android_support_support_core_ui_27_1_0.xml
.idea/libraries/com_android_support_support_core_utils_27_1_0.xml
.idea/libraries/com_android_support_support_fragment_27_1_0.xml
.idea/libraries/com_android_support_support_media_compat_27_1_0.xml
.idea/libraries/com_android_support_support_v4_27_1_0.xml
.idea/libraries/com_android_support_support_vector_drawable_27_1_0.xml
.idea/libraries/com_android_support_transition_27_1_0.xml
.idea/libraries/com_nhaarman_listviewanimations_lib_core_3_1_0.xml
.idea/libraries/com_nhaarman_listviewanimations_lib_core_slh_3_1_0.xml
.idea/libraries/com_nhaarman_listviewanimations_lib_manipulation_3_1_0.xml
.idea/
build/
